* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}

html {
    min-height: 100%;
    background: linear-gradient(#7f7fd5, #91eae4);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Title styling */
.title {
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.main-container {
    display: flex;
    flex-direction: column;
}

/* Form styling */
.form-container {
    padding: 2em;
    text-align: center;
}

.task-text, .title, #submit{
    color: #F5F5F5;
}

.task-text, #task, #submit {
    font-size: 1.5rem;
    font-weight: bold;
}

#task, #submit {
    padding: .5rem;
    border-radius: .5rem;
}

#submit {
    background-color: #91eae4;
}

/* Lists Styling */
.todo-list-container {
    width: 50%;
    margin-inline: auto;
}

li {
    word-wrap: break-word;
    background-color: #3f3f3f;
    color: #F5F5F5;
    padding: 1rem;
    text-align: center;
    list-style: none;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

li:hover {
    box-shadow: 1px 5px 10px black;
    margin-bottom: 1.5rem;
}