* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}

html {
    min-height: 100%;
    background: #292F36;
    /* background-size: cover;
    background-repeat: no-repeat; */
}

/* Title styling */
.title {
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.main-container {
    display: flex;
    flex-direction: column;
}

/* Form styling */
.form-container {
    padding: 2em;
    text-align: center;
}

.task-text, .title, #submit{
    color: #F5F5F5;
}

.task-text, #task, #submit {
    font-size: 1.5rem;
    font-weight: bold;
}

#task {
    margin-inline: .5rem;
    padding: .5rem;
    border-radius: .5rem;
}

#task:focus {
    border: none;
    outline: none;
}

#submit {
    background-color: #008000;
    border: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

#submit:hover {
    background-color: #38B000;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    box-shadow: 1px 5px 10px black;
}

/* Lists Styling */
.todo-list-container {
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
}

li {
    word-wrap: break-word;
    background-color: #3f3f3f;
    color: #F5F5F5;
    padding: 1rem;
    text-align: center;
    list-style: none;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 1px 5px 10px black;
    margin-bottom: 1.5rem;
}

#completed-button, #edit-button, #save-button, #delete-button {
    border: none;
    padding: .7rem 1.5rem;
    border-radius: 1rem;
    color: #f5f5f5;
    margin-right: .5rem;
}

#completed-button {
    background-color: #ff8500;
}

#edit-button {
    background-color: #00afb9;
}

#save-button {
    background-color: #9b5de5;
}

#delete-button {
    background-color: #db3a34;
}

#completed-button:hover, #edit-button:hover, #save-button:hover {
    cursor: pointer;
}

#delete-button:hover {
    background-color: #e06f66;
}

#completed-button:hover {
    background-color: #ff9f33;
}

#edit-button:hover {
    background-color: #33c6d2;
}

#edit-input {
    margin-inline: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1.25rem;
}

#edit-input:focus {
    border: none;
    outline: none;
}